*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100%;
}


nav{
    box-sizing: border-box;
    background-color: rgb(175, 20, 59);
    opacity: 0.9;
    padding: 50px;
    width: 100%;
    text-align: center;
    display: flex;

}

#searchBar{
    width: 50%;
    margin: auto;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

input{
    width: 80%;
    border: 0;
    background-color: transparent;
    height: 40px;
    font-size: large;
    font-family: sans-serif;
    outline: none;
}

.container{
    width: 100%;
    padding: 20px;
    height: 500px;
    margin-top: 50px;
    display: flex;
}

#movieImage{
    border-radius: 10px;
    background-color: transparent;
}

#icon{
    float: left;
    width: 75px;
    height: 70px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(12, 12, 12);
    margin: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#footerIcon{
  margin-right: 4px;
  margin-left: 50px;
}


#d1{
    margin: 0;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.d2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d15{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}

#tmdb{
    margin: 10px;
    margin-right: 50px;
    padding: 0px;
    width: 80px;
    height: 2-0px;
    background-color: transparent;
}

#imdb{
    height: 60px;
}

#pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 30px;
}

#title{
    font-family: system-ui;
    color: rgb(182, 177, 177);
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px #887b99;
    
}

#overRating{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#rating{
    color: chartreuse;
    font-family: system-ui;
    font-size: 1.5em;
    margin-left: 40px ;
}

#overview{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    text-align: justify;
    color: rgb(255, 255, 255);
    background-color: rgba(22, 22, 22, 0.24);
}

#me, #them{
    color: rgb(186, 190, 190);
}
