@font-face {
    font-family: "font1";
    src: url(fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "font2";
    src: url(fonts/Lobster-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "font3";
    src: url(fonts/Teko-Regular.ttf) format("truetype");
}
/* -------------------------------------------------------------- */
*{
    box-sizing: border-box;
    overflow: visible;
    overflow-wrap: anywhere;
}
html, body { 
    height: 100%; width: 100%; margin: 0; 
}
body{
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
    #parent{
    height: 100%;
}
/* -------------------------------------------------------------- */
#row1{
    background-color: rgb(12, 0, 180);
    opacity: 0.9;
    height: 20%;
    display: flex;
    justify-content: center;
}

#row2{
    height: 70%;
    display: flex;
}

#posterRate{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#poster{
    height: 75%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poster img{
    text-align: center;
    width: 300px;
    height: 320px;
}
#rate{
    height: 25%;
    text-align: center;
    font-family: font2;
}
#rate p{
    font-size: 30px;
    color: rgb(214, 131, 23);
}

#title{
    text-align: center;
    display: block;
    width: 100%;
}
#title h1{
    color: darkslategray;
    font-family: font3;
    padding-top: 20px;
    font-size: 50px;
}

#info{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overview{
    height: 40%;
    font-family: font1;
}
#overview p{
    font-size: 20px;
    color: azure;
}

.data{
    color: darkseagreen;
    font-size: 17px;
    font-family: font1;
    text-align: center;
    width: 50%;
}

main{
    background-color: rgba(0, 0, 0, 0.664);
}

/* --------------------------------------------- */
#column12{
    margin: auto;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#inputName{
    width: 80%;
    border: 0;
    background-color: transparent;
    height: 40px;
    font-size: 25px;
    font-family: font1;
    outline: none;
}
#icon{
    width: 75px;
    height: 70px;
}

#column11{
    display: flex;
    justify-content: center;
    align-items: center;
}

#column13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#disclaimer{
    display: inline;
    font-family: font1;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 0, 102);
    opacity: 1;
}

/* -------------------------------------------------------------- */
#row3{
    background-color: rgba(12, 12, 12);
    display: flex;
    justify-content: space-between;
    height: 10%;
}

#tmdb{
    height: 50%;
    width: 40%;
    background-color: transparent;
}

#them, #me{
    color: rgb(186, 190, 190);
    font-family: font2;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    font-size: 20px;
}

#column33, #column31, #column32{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#them{
    padding-top: 10px;
}

/* -------------------------------------------------------------- */

@media (max-width: 766px) {
    #column12{
        width: 70%;
    }

    #disclaimer, #me, #them{
        font-size: 15px;
        color: white;
    }
    
    #icon{
        width: 45px;
        height: 45px;
    }
    #posterRate{
        width: 100%;
        height: 300px;
    }
    #poster{
        padding: 0;
    }
    #poster img{
        text-align: center;
        width: 220px;
        height: 230px;
        padding-top: 10px;
    }

    #inputName{
        font-size: 20px;
    }
    #rate{
        height: 10px;
        padding-top: 15px;
    }
    #rate p{
        font-size: 15px;
    }

    .data{
        color: rgb(4, 138, 4);
        font-size: 15px;
        font-family: font1;
        text-align: center;
        width: 50%;
        
    }

    #overview p{
        font-size: 15px;
        color: azure;
        padding-top: 10px;
    }

    #tmdb{
        height: 25%;
        width: 25%;
        padding-top: 5px;
    }
    #row2{
        text-overflow: ellipsis;
        overflow: auto;
    }

    #infoOverview{
        width: 100%;
        margin-top: -50px;
    }
    
  }

